
@{
    Layout = null;
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<div class="container" style="margin-top:120px">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow rounded-4">
                <div class="card-body text-center">
                    <h2 class="fw-bold mb-2">Expense Tracker</h2>
                    <h4 class="mb-4">Register</h4>

                    <form method="post">
                        <div class="mb-3 text-start">
                            <input type="text" name="Name" id="name" class="form-control" placeholder="Name" required />
                            <p id="pname" style="color:red;display:none">Please Enter Name</p>
                        </div>
                        <div class="mb-3 text-start">
                            <input type="email" name="Email" id="email" class="form-control" placeholder="Email" required />
                            <p id="pemail" style="color:red;display:none">Please Enter Email</p>
                            <p id="existEmailerror" style="color:red;display:none">Email Already Exist</p>

                        </div>
                        <div class="mb-4 text-start">
                            <input type="password" name="Password" id="password" class="form-control" placeholder="Password" required />
                            <p id="ppass" style="color:red;display:none">Please Enter Password</p>
                            <p id="error" style="color:red;display:none">Password Length Must be Greater than 6 Character</p>
                        </div>

                        <button type="button" id="facelockbutton">
                            <img src="~/images/icon/facicon.png"/>
                        </button>
                        <br />
                        <p id="addfacelock">Add Face Lock</p>

                        <div class="mb-3 text-start" id="facelockbox" style="display: none;">
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <video id="video" width="320" height="240" autoplay class="border rounded"></video>
                            </div>
                            <canvas id="canvas" style="display:none;"></canvas><br />
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <button type="button" id="btnCaptureFace" class="btn btn-outline-secondary btn-sm mt-2">Capture Face</button>
                                <button type="button" id="btnCancelFaceLock" class="btn btn-outline-secondary btn-sm mt-2">Cancel</button>
                            </div>
                            <input type="hidden" id="faceImageData" name="FaceImageData" />
                            <p id="noface" style="color:red;display:none;">Please capture your face</p>
                            <p id="cameraError" class="text-danger" style="display:none;"></p>
                            <p id="captureSuccessMsg" class="text-success" style="display:none;">Face image captured successfully!</p>
                        </div>

                        <button type="button" id="btnAddUser" class="btn btn-primary w-100">Register</button>
                        <div class="mt-3">
                            <span>Already have Account ?<a asp-controller="User" asp-action="Login" class="text-decoration-none">Login</a></span>
                        </div>
                        <div id="loader" class="d-none position-fixed top-0 start-0 w-100 h-100 bg-white bg-opacity-75 d-flex justify-content-center align-items-center" style="z-index: 9999;">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<script>

    $(document).ready(function(){
        $("#facelockbutton").click(function(){
            $("#facelockbox").show();
            $("#facelockbutton").hide();
        })
        $("#btnCancelFaceLock").click(function(){
            $("#facelockbox").hide();
            $("#facelockbutton").show();
        })
    })

    navigator.mediaDevices.getUserMedia({video : true}).then(stream => {
        document.getElementById("video").srcObject = stream;
    }).catch(error => {
        console.log("Camera Access Error : ", error)
        $("#cameraError").text("Camera Not Found or access denied. Please ensure your device has a webcam and give browser permission.")
        .show();
        $("#btnCaptureFace").prop("disabled", true);
    });

    $("#btnCaptureFace").click(function() {
        const canvas = document.getElementById("canvas");
        const video = document.getElementById("video");
        
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight; 

        const context = canvas.getContext("2d");
        context.drawImage(video, 0, 0);
        
        const imageData = canvas.toDataURL("image/jpg");
        $("#faceImageData").val(imageData);
        $("#noface").hide();
    
         $("#cameraError").hide();

        $("#captureSuccessMsg").show();

      
        setTimeout(() => {
            $("#captureSuccessMsg").fadeOut();
            $("#facelockbox").hide();
        }, 3000);
    });



    $(document).ready(function () {
        $("#btnAddUser").click(function () {

            var UserName = $("#name").val().trim();
            var UserEmail = $("#email").val().trim();
            var UserPassword = $("#password").val().trim();
            var faceImage = $("#faceImageData").val();

            if (UserName == "" && UserEmail == "" && UserPassword == "") {
                $("#pname").show();
                $("#pemail").show();
                $("#ppass").show();
                $("#error").hide();
                return;
            }

            else if (UserName == "") {
                $("#pname").show();
                $("#pemail").hide();
                $("#ppass").hide();
                $("#error").hide();
                return;
            }
            else if (UserEmail == "") {
                $("#pname").hide();
                $("#pemail").show();
                $("#ppass").hide();
                $("#error").hide();
                return;
            }
            else if (UserPassword == "") {
                $("#pname").hide();
                $("#pemail").hide();
                $("#ppass").show();
                $("#error").hide();
                return;
            }
            else if (UserPassword.length < 6) {
                $("#error").show();
                $("#pname").hide();
                $("#pemail").hide();
                $("#ppass").hide();
                return;
            }
            else if(!faceImage){
                $("#noface").show();
                return;
            }

            $("#loader").removeClass("d-none");
            $("#btnAddUser").prop("disabled", true);

            var user = {
                User_Name: UserName,
                User_Email: UserEmail,
                User_Password: UserPassword,
                face_image : faceImage
            };

            $.ajax({
            url: "/User/UserRegister",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(user),
            success: function (response) {
            if (response.success) {
                window.location.href = "/User/OTP";
            } else {
                if (response.message === "Email Already Exists") {
                $("#existEmailerror").show();
                $("#loader").addClass("d-none");
                $("#btnAddUser").prop("disabled", false);}
            }
            },
            error: function () {
                alert("Something went wrong. Please try again.");
                $("#loader").addClass("d-none");
                $("#btnAddUser").prop("disabled", false); 
            }
            });

        });
    });

</script>
